services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5436:5432"

  redis:
    image: redis:7
    ports:
      - "6380:6379"

  web:
    build: .
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - nginx
    command: >
      gunicorn project.wsgi:application
          -b 0.0.0.0:8000
          --workers 4
          --threads 4
          --timeout 120
    volumes:
      - staticfiles:/app/staticfiles

  nginx:
    image: nginx:1.27
    ports:
      - "8080:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - staticfiles:/static:ro

  celery:
    build: .
    environment:
      RUN_COLLECTSTATIC: 0
      RUN_MIGRATIONS: 0
      CREATE_SUPERUSER: 0
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: >
      celery -A project worker -l INFO --concurrency=4

volumes:
  pgdata:
  staticfiles:
